<div style="width: fit-content; margin-left: auto; margin-right: 40px">
  <h1 style="text-align: right; font-size: 40px; padding-top: 10px; padding-bottom: 20px; font-weight: bolder;">الأدوار
    الحالية</h1>
  <ul style="list-style-type:none; background-color: white; width: fit-content;">
    <li>
      <div
        style="text-align: center; font-weight: bold; border-bottom-color: black; border-bottom-style: solid;  padding: 10px 30px 10px 30px;">
        مدير النظام
      </div>
    </li>
    <li>
      <div
        style="text-align: center; font-weight: bold; border-bottom-color: black; border-bottom-style: solid;  padding: 10px 30px 10px 30px;">
        مدير الفعاليات
      </div>
    </li>
    <li>
      <div
        style="text-align: center; font-weight: bold; border-bottom-color: black; border-bottom-style: solid;  padding: 10px 30px 10px 30px;">
        مدير الرسائل
      </div>
    </li>
    <li>
      <div
        style="text-align: center; font-weight: bold; border-bottom-color: black; border-bottom-style: solid;  padding: 10px 30px 10px 30px;">
        مسؤول التلعيب
      </div>
    </li>
    <li>
      <div style="text-align: center; padding: 10px 30px 10px 30px;">
        <button class="btn saveButton">ادارة الحسابات</button> &nbsp;
        <button class="btn saveButton" (click)="createRole()">انشاء دور</button> &nbsp;
      </div>
    </li>
  </ul>
</div>

<div style="background-color: white; width: fit-content; padding: 20px; position: absolute; top: 50px; right: 500px;">
  <p style="text-align: center; font-weight: bold;">صلاحيات هذا الدور</p>
  <div>
    <ul style="list-style-type:none; background-color: white; width: fit-content; padding: 20px">
      <li>
        <div
          style="text-align: center; font-weight: bold; padding: 10px 50px 10px 50px; background-color: rgb(195, 195, 195); margin-bottom:10px">
          مسؤول التلعيب
        </div>
      </li>
      <li>
        <div
          style="text-align: center; font-weight: bold; padding: 10px 30px 10px 30px; background-color: rgb(195, 195, 195); margin-bottom:10px">
          مسؤول التلعيب
        </div>
      </li>
      <li>
        <div
          style="text-align: center; font-weight: bold; padding: 10px 30px 10px 30px; background-color: rgb(195, 195, 195); margin-bottom:10px">
          مسؤول التلعيب
        </div>
      </li>
    </ul>
  </div>
  <button class="btn saveButton">تعديل</button>&nbsp;
  <button class="btn saveButton">حذف</button>
</div>