@import '/src/Theme/utils.scss';
@import '/src/Theme/palette.scss';

.card {
    padding: 50px;
    max-width: 750px;
    width: 100%;
    @include make-card;
    @include make-scroll-bar;
    overflow-y: auto;
    position: relative;
    padding: 50px 30px;

    .saveButton {
        background-color: rgb(6, 6, 57);
        color: white;
        margin-left: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .cancelButton {
        background-color: white;
        color: rgb(6, 6, 57);
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 20px;
        border-color: rgb(6, 6, 57);
    }

    .card-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        padding: 25px 0 0 0;
        margin-bottom: -25px;
    }
}

/* Create two equal columns that floats next to each other */
.column-50 {
    float: left;
    width: 50%;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .role-span {
    background-color: coral;
    border-radius: 25px;
    padding: 5px;
    margin-right: 5px;
    white-space:nowrap;
    display: inline-block;
    margin-top: 10px;
  }