$dark-primary-text: #303033;
$dark-secondary-text: #646468;
$dark-disabled-text: rgba(black, 0.12);
$dark-dividers: rgba(black, 0.12);
$dark-focused: rgba(black, 0.12);
$light-primary-text: #f7f7f7;
$light-secondary-text: #b1b0b5;
$light-disabled-text: rgba(white, 0.5);
$light-dividers: rgba(white, 0.12);
$light-focused: rgba(white, 0.12);

$light-background: #fafbfd;

$card-border-radius: 10px;
